body  {
 
    
    color: white;
    font-family: helvetica neue, helvetica, Arial, Helvetica, sans-serif;
    margin:  0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-repeat: repeat-x;
    background: linear-gradient(45deg, black, #272727);
}
.games {
    color: white;
    font-family: helvetica neue, helvetica, Arial, Helvetica, sans-serif;
    margin:  0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-repeat: repeat-x;
    background: linear-gradient(45deg, black, #272727);
}
.contact {
    color: white;
    font-family: helvetica neue, helvetica, Arial, Helvetica, sans-serif;
    margin:  0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-repeat: repeat-x;
    background: linear-gradient(45deg, black, #272727);
}
.logo {
    color: gray;
    margin: 0 0 0 0;
    
    position: relative;top:  -20px;
    position: relative;right: -20px;
}
header{
    position: relative;top: 20px;
    position: relative;right: -30px;
    margin-right: auto;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
a {
    text-decoration: none;
    color: teal;
}
a:visited {
    text-decoration: none;
}

.section1 {
    height: 600px;
    color: gray;
    display: flex;
    flex-direction: row;
}
.section2 {
    height: 1000px;
}
a:link{
    color: gray;
    text-decoration: none;

    
}

.foto-noppie {
 
    margin: auto;
    width: 700px;
    position: relative;top: 150px;
    position: relative;right: 150px;
    
}
.foto-sammie {
    margin: auto;
    width: 700px;
    position: relative;top: -20px;
    position: relative;right: -50px;
    
}
.foto-simba {
 
    margin: auto;
    width: 700px;
    position: relative;top: -700px;
    position: relative; right: -700px;
    
}
.foto-felix {
 
    margin: auto;
    width: 700px;
    position: relative;top: -480px;
    position: relative; right: -480px;
    
}
.foto-nala{
    margin: auto;
    width: 200px;
    position: relative;top: -240px;
    border-radius: 50%;
    position: relative;right: -30px;
}
.sammie {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.simba {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.nala {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.noppie {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.felix {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.foto-skyrim {
    margin: auto;
    width: 900px;
    position: relative;top: -75px;
    color: gray;
    object-fit: cover;
    position: relative;right: -340px;
}
.foto-minecraft {
    margin: auto;
    width: 900px;
    position: relative;top: 200px;
    color: gray;
    object-fit: cover;
    position: relative;right: 490x;
}
.foto-home {
    margin: auto;
    width: 900px;
    position: relative;top: 200px;
    color: gray;
    object-fit: cover;
    position: relative;right: 500x;
    text-align: left;
}
.home {
    border-radius: 50%;
    position: relative;right: 430px;
    position: relative;top: -350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.foto-red-dead-redemption {
    margin: auto;
    width: 900px;
    position: relative;top: -370px;
    color: gray;
    object-fit: cover;
    position: relative;right: -680px;
}
.red-dead-redemption {
    border-radius: 100px;
    position: relative;right: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.skyrim {
    border-radius: 100px;
    position: relative;right: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}
.minecraft {
    border-radius: 50%;
    position: relative;right: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(87, 83, 83, 0.658);
}

.header{
    color: teal;   
    margin-right: auto;
    text-align: center;
    position: relative;top: 100px;
} 

h2{
    color: rgba(97, 96, 94, 0.863);  
    margin-right: auto;
    text-align: center;
    position: relative;top: 100px;
    position: relative;right: 300px;
}
p {
    color:  rgb(80, 71, 71);
}
button {
  background-color:rgb(19, 131, 146); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;top: -500px;
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 10px;
}
button:hover {
    width: 170px;
    height: 60px;
    position: relative;top: -505px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  
}
.section3 {
    color:  gray;
    margin: auto;
    text-align: center;
    position: relative;top:  -500px;
}
h1 {
    color: gray;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display:  inline-block;
    margin-right: 70px;
}
